html, body{
    padding: 0;
    --reloadBtn-top: 20px;
    --reload-bg-color: rgba(100, 100, 100, 0.7);
    --reload-shadow: 2px 2px 0 #888;
    --container-bg-color:#888;
}

.boxBtn{
    position: relative;
    top: var(--reloadBtn-top);
    display: grid;
    place-items: center;
}

#reloadBtn{
    border: 2px solid var(--reload-bg-color);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: var(--reload-shadow);
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
#reloadBtn:hover{
    background-color: #ccc;
}

#reloadBtn:active{
    background-color: #333;
    color: #0f0;
    box-shadow: 0 5px var(--container-bg-color);
}

.container{
    background-attachment: fixed;
    background-color: var(--container-bg-color);
    border: 1px solid var(--container-bg-color);
    box-shadow: -10px 10px 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

#submitBtn{
    width: 50%;
    background-color: #4CAF50;
    color: #fff;
    padding: 14px 20px;
    margin: 10px 0 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25%;
}

#submitBtn:active{
    cursor: wait;
    background-color: #aaa;
    color: #000;
}


.inputField{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #000;
    cursor: text;
    caret-color: #bbb;
}

#listUni{
    background-color: #fff;
    color: #000;
    font-size: 14px;
    margin-top: -3px;
}